html {
  background-color: rgba(0, 123, 255, 0.5);
}

#rootContents, #root, body, html, title {
  height: 100%;
}


/* ------ Banner and Title ------ */
#title {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  color: #0085ff;
}

/* ------ Body ------ */
#body {
  height: 100%;
  text-align: center;
}

/* ------ File Selector ------ */
.dataInputSelector {
  padding: 10px;
}

/* ------ Analysis Selectors ------ */
.dataAnalysisSelector {
  margin: 20px;
}

/* ------ Save File Buttons ------ */
.saveButtons {
  display: none;
}